# Data Visualization
# BTech Computer Science Stream , January 2025
# Week 4 - Pandas Demonstration Notebook
# Sujithra,  Reg Number , Date: 06/01/2025

In [3]:
# Reading data is also called as data loading
# The term parsing is also sometimes used to describe loading text data and interpreting it as tables and different data types. 
# The focus is on data input and output using pandas

In [4]:
import numpy as np
import pandas as pd

Use notepad and create a .csv file called 'ex1.csv' with the following contents
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
# Since this is comma-delimited, we can then use pandas.read_csv to read it into a DataFrame:
df1 = pd.read_csv("ex1.csv")
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Create another file 'ex2.csv' with the following contents and no header row
1,2,3,4,first
5,6,7,8,second
9,10,11,12,third

In [10]:
#df2=pd.read_csv("ex2.csv", header=None)
df2=pd.read_csv("ex2.csv", names=["a", "b", "c", "d", "message"])
df2

   1   2   3   4   first
0  5   6   7   8  second
1  9  10  11  12   third

Missing data is usually either not present (empty string) or marked by some sentinel (placeholder) value. 
By default, pandas uses a set of commonly occurring sentinels, such as NA and NULL:

Create another file 'ex3.csv' with the following contents
something,a,b,c,d,message
one,1,2,3,4,
two,5,6,,8,world
three,9,10,11,12,foo

In [6]:
# The na_values option accepts a sequence of strings to add to the default list of strings recognized as missing:
df3 = pd.read_csv("ex3.csv")
#df3
#pd.isna(df3)
df3.isna()

   something      a      b      c      d  message
0      False  False  False  False  False     False
1      False  False  False   True  False     False
2      False  False  False  False  False     False

Create an excel file called StdMrks.xls with two sheets. 1 sheet contains roll number, name of 5 students with their marks in 5 quizzes (out of 10). The other sheet contains marks obtained in two exams (out of 100 each ) for the same student.

In [11]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~-p (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~-p (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~-p (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~-p (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python312\Lib\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
# Reading the file , sheet by sheet
xlsx = pd.ExcelFile("StdMrks.xlsx")

In [11]:
# This object can show you the list of available sheet names in the file and how to parse them 
xlsx.sheet_names

['Sheet1', 'Sheet2']

In [12]:
df_mrks1=xlsx.parse(sheet_name="Sheet1")
df_mrks2=xlsx.parse(sheet_name="Sheet2")

In [13]:
df_mrks1

   Roll number Name  Quiz-1  Quiz-2  Quiz-3  Quiz-4  Quiz-5
0            1  AAA       7       5       8       6       4
1            2  BBB       6       5       2       5       6
2            3  CCC       3       7       3       7       2
3            4  DDD       8       8       6       8       4
4            5  EEE       2       9       1       4       3

In [14]:
df_mrks2

   Roll number Name  Exam-1  Exam-2
0            1  AAA      78      77
1            2  BBB      87      89
2            3  CCC      68      79
3            4  DDD      77      90
4            5  EEE      69      88

In [15]:
# This Excel table has an roll number column, so we can indicate that with the index_col argument:
df_mrks3=xlsx.parse(sheet_name="Sheet1", index_col=0)

In [16]:
df_mrks3

            Name  Quiz-1  Quiz-2  Quiz-3  Quiz-4  Quiz-5
Roll number
1            AAA       7       5       8       6       4
2            BBB       6       5       2       5       6
3            CCC       3       7       3       7       2
4            DDD       8       8       6       8       4
5            EEE       2       9       1       4       3

In [17]:
# f you are reading multiple sheets in a file, then can also simply pass the filename to pandas.read_excel:
frame1 = pd.read_excel("StdMrks.xlsx", sheet_name="Sheet1")
frame1

   Roll number Name  Quiz-1  Quiz-2  Quiz-3  Quiz-4  Quiz-5
0            1  AAA       7       5       8       6       4
1            2  BBB       6       5       2       5       6
2            3  CCC       3       7       3       7       2
3            4  DDD       8       8       6       8       4
4            5  EEE       2       9       1       4       3

In [ ]:
# To write pandas data to Excel format, you must first create an ExcelWriter, then write data to it using the pandas object's to_excel method:
frame1.to_excel("Mrks2.xlsx")